grant {
	permission java.lang.RuntimePermission "setSecurityManager";
	permission java.io.FilePermission "/etc/passwd", "read";
	permission java.security.AllPermission;
};
